.bg-image{
    background-image: url("/assets/images/image01.jpg");
}

.food1{
    background-image: url("/assets/images/food1.jpg");
}

.food2{
    background-image: url("/assets/images/food2.jpg");
}

.food3{
    background-image: url("/assets/images/food3.jpg");
}

.logo1{
    background-image: url("/assets/images/logo1.jpg");
}

.logo2{
    background-image: url("/assets/images/logo2.jpg");
}
.logo3{
    background-image: url("/assets/images/logo3.jpg");
}

.icon-white{
    color: white;
}