<div class="page-wrapper">
    <!-- top Links -->
    <div class="top-links">
       <div class="container">
          <ul class="row links">
             <li class="col-xs-12 col-sm-3 link-item active"><span>1</span><a href="#">Choose Your Location</a></li>
             <li class="col-xs-12 col-sm-3 link-item"><span>2</span><a href="#">Choose Restaurant</a></li>
             <li class="col-xs-12 col-sm-3 link-item"><span>3</span><a href="#">Pick Your favorite food</a></li>
             <li class="col-xs-12 col-sm-3 link-item"><span>4</span><a href="#">Order and Pay online</a></li>
          </ul>
       </div>
    </div>
    <!-- end:Top links -->
    <!-- start: Inner page hero -->
    <div class="inner-page-hero bg-image space-md" data-image-src="assets/images/profile-banner.jpg">
       <div class="container text-xs-center m-b-20">
          <h1 class="font-white">Search Your Favour Food</h1>
          <p class="font-white">Find restaurants, specials, and coupons for free</p>
       </div>
    </div>
    <!-- end:Inner page hero -->
    <div class="pricing-page">
       <div class="container">
          <div class="row">
             <div class="col-md-5 offset-md-1 col-sm-6">
                <div class="pricing-box">
                   <span class="price">
                   <span class="currency">$</span>0</span>
                   <h2>Free plan</h2>
                   <p>Sign up for free plan</p>
                   <ul data-cloneable="" data-group="" class="">
                      <li>No joining fees</li>
                      <li>50 orders per month</li>
                      <li>Get noticed</li>
                      <li>Gain exposure</li>
                   </ul>
                   <div data-group=""> <a href="#" class="btn theme-btn">Sign up now</a> </div>
                </div>
             </div>
             <div class="col-md-5 col-sm-6">
                <div class="pricing-box">
                   <span class="price">
                   <span class="currency">$</span>9</span>
                   <h2>Premium plan</h2>
                   <p>Sign up for premium plan</p>
                   <ul data-cloneable="" data-group="" class="">
                      <li>No joining fees</li>
                      <li>Unlimited orders per month</li>
                      <li>Get noticed</li>
                      <li>Gain exposure</li>
                   </ul>
                   <div data-group=""> <a href="#" class="btn theme-btn">Sign up now</a> </div>
                </div>
             </div>
          </div>
          <!-- end:row -->
          <div class="row pricing-faq m-t-30">
             <div class="col-md-5 offset-md-1 col-sm-6" data-cloneable="">
                <div>
                   <h3>What is a account?</h3>
                   <p>Yeah, I like animals better than people sometimes… Especially dogs. Dogs are the best. Every time you come home, they act </p>
                </div>
                <div>
                   <h3>Is there any fee?</h3>
                   <p>Like they haven’t seen you in a year. And the good thing about dogs… is they got different dogs for different people. Like pit bulls. The dog of dogs. Pit bull can be the right man’s best friend</p>
                </div>
                <div>
                   <h3>What payment methods are accepted?</h3>
                   <p>Phe wrong man’s worst enemy. You going to give me a dog for a pet, give me a pit bull. Give me… Raoul. Right, Omar? Give me Raoul.</p>
                </div>
             </div>
             <div class="col-md-5 col-sm-6" data-cloneable="">
                <div>
                   <h3>Can I setup multiple brands in one account?</h3>
                   <p>Like they haven’t seen you in a year. And the good thing about dogs.</p>
                </div>
                <div>
                   <h3>Can I use Docs without the help desk?</h3>
                   <p>You going to give me a dog for a pet, give me a pit bull. Give me… Raoul. Right, Omar? Give me Raoul.</p>
                </div>
                <div>
                   <h3>What’s your support like?</h3>
                   <p>Or the wrong man’s worst enemy. You going to give me a dog for a pet, give me a pit bull. Give me… Raoul. Right, Omar? Give me Raoul.</p>
                </div>
             </div>
          </div>
       </div>
