.header a{
    color: white;
}

.dropdown-menu a{
    color: black;
}

.set-right{
    margin-left: auto;
}

@media screen and (max-width: 992px) {
    
    .dropdown-menu{
        background-color: rgb(255, 255, 255, 0.0);
    }

    .dropdown-menu a{
        color: white;
    }
    
    .dropdown-divider{
        color: white;
    }
}

