<section class="banner" data-image-src="/assests/images/image01.jpg">
    
    <div class="content">
        <h1>Order Delivery & Take-Out</h1>
        <h5>Find restaurants, specials, and coupons for free</h5>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="I would like to eat ..." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-danger btn-lg" type="button">Search</button>
            </div>
        </div>

        <div class="steps">
            <i class='fas fa-hotel' style='font-size:2rem;color:white'></i>
            <img src="/assets/images/arrow.png" alt="">
            <i class='fas fa-concierge-bell' style='font-size:2rem;color:white'></i>
            <img src="/assets/images/arrow-dotted.png" alt="">
            <i class='fas fa-luggage-cart' style='font-size:2rem;color:white'></i>
        </div>

    </div>
    
</section>