.OtpForm{
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("/assets/images/loginBanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.Otpbanner{
    padding: 9rem 1rem;
    padding-top: 5rem;
}


.Otpcenter{
    display: grid;
    place-content: center;
}

.btn-m{
    border-radius: 5px;
}

h1 {
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}